body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	max-height: 100vh;
}



.map-area {
	background-color: #00afb1;
	width: 100vh;
	height: 100vh;
	float: left;
}

.lateral {
	background-color: #e77404;
	min-width: 77vh;
	height: 100vh;
	max-height: 100vh;
	display: inline-block;
	float: right;
	position: fixed;
}

.menu-area {
	background-color: #c72ef3;
	color: #000;
	font-size: 4em;
	line-height: 20vh;
	vertical-align: middle;
	height: 20vh;
	min-width: 77vh;
	display: block;
	text-align: center; 
}

.submenu {
	display: none;
	line-height: 20vh;
	height: 20vh;
	font-size: 1em;
}

#selected_menu {
	line-height: 20vh;
	height: 20vh;
	font-size: 1em;
	display: block;	
}